<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
      <img class="cursor-pointer me-4" routerLink="home" src="./assets/images/freshcart-logo.svg" alt="logo">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-flex flex-row align-items-center justify-content-center">
        
        <li  class="nav-item">
          <a class="nav-link text-capitalize px-2" routerLinkActive="main-active" routerLink="register">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize px-2" routerLinkActive="main-active" routerLink="login">login</a>
        </li>
      </ul>
    </div>
  </nav>
  
</header>