<section id="categories" class="py-3">
  <div class="container">
    <h1 class="text-center">Categories</h1>
    <div class="row row-cols-lg-3 row-cols-md-3 g-3">
      <div *ngFor="let item of catsData" class="col-md">
        <div class="categorie product rounded overflow-hidden border py-0">
          <div class="cat-img">
            <img [src]="item.image" class="img-fluid ratio-4x3 w-100" [alt]="item.name" />
          </div>
          <div class="cat-info">
            <h3 class="text-main text-center py-4 ">{{item.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>