<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
      <img class="cursor-pointer me-4" routerLink="home" src="./assets/images/freshcart-logo.svg" alt="logo">
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">
          
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="main-active" routerLink="home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="main-active" routerLink="wish-list">wish-list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="main-active" routerLink="products">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="main-active" routerLink="categories">categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="main-active" routerLink="brands">brands</a>
          </li>
          
        </ul>
        <a routerLink="cart" class="cart-icon">
          <i class="fas fa-cart-shopping fs-3"></i>
          <span class="items-count bg-main">{{cartItemsCount}}</span>
        </a>
        <span (click)="signOut()" class="ms-4 text-dark-emphasis cursor-pointer">Sign Out</span>
      </div>
    </div>
  </nav>
</header>
